body {
    background-image: linear-gradient(#FC5E55, #FA4083);
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 1.125rem;
}

a {
    color: white;
    text-decoration: none;
}

.container {
    background-image: url(/Images/image-lion-background.png);
    width: 1024px;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid lightgrey;
}

main{
    min-height: 300px;
    display: flex;
    align-items: center;
}

.cards{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.card1 {
    min-height: 15.625rem;
    background-image: url(/Images/image-background-card1.jpg);
    background-size: cover;
    background-position: bottom;
    width: 30%;
}

.card2 {
    min-height: 15.625rem;
    background-image: url(/Images/image-background-card2.jpg);
    background-size: cover;
    background-position: bottom;
    width: 30%;  
}

.card3 {
    min-height: 15.625rem;
    background-image: url(/Images/image-background-card3.jpg);
    background-size: cover;
    background-position: bottom;
    width: 30%;
}

.card1, .card2, .card3 {
    box-sizing: border-box;
    padding: 30px 30px 20px 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.371);
}

.Box1 {
    flex: 2;
    margin-right: 6.25rem;
}

.Box2 {
    flex: 1;
}

.Logo {
    padding-top: 20px;
    padding-bottom: 20px;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 3.25rem;
    margin-bottom: 1.10rem;
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.227);
}

h2 {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    margin-bottom: 0.75rem;
}

p {
    line-height: 1.65rem;
    margin-bottom: 0.6rem;
}

.cards p {
    font-size: 0.9rem;
    line-height: 1.3rem;
    margin-top: 0.625rem;
}

i {
    font-size: 5.5rem;
    margin-bottom: 1.4rem;
}

a.Button {
    text-decoration: none;
    color: #FC5E55;
    background-color: white;
    padding: 11px 25px;
    font-family: 'Playfair Display', serif;
    display: inline-block;
    margin-top: 20px;
    border-radius: 2px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.405);
}

.navButton{
    margin-left: 5px;
    padding: 11px 25px;
    border: 1px solid white;
    font-family: 'Playfair Display', serif;
}

.testimonials {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 80px;
}

.Button:hover {
    background-color: rgb(27, 187, 73);
    transition-duration: 1s;
}

.tbox {
    border: 1px solid white;
    width: 47%;
    box-sizing: border-box;
    padding: 50px;
    margin-top: 50px;
}

.tbox p:last-of-type {
    padding-left: 40px;
    font-size: 0.9rem;
}